spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    url: jdbc:postgresql://localhost:5432/PrefSchedule
    password: Roxana123
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: create
server:
  port: 8080